.vscode/
eslint.config.mjs
node_modules/
package-lock.json
package.json
!worker/package.json
.eslintcache
.cspell.json
.markdownlint.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
